.highlighted {
    font-weight: bold;
}

.searchResultContainer {
    min-height: 70px;
    width: 100%;
    margin-top: 15px;

}

.searchResultContainer .time {
    font-size: 11px;
    color: gray;

}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: none;
}

.breaker {
    margin: 8px;
    color: grey;
}
.breadcrumb .form-control {
    height: 24px;
}