<section data-ng-controller="MainsearchController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="/modules/audiosearch/img/audiofindlogo.png" style="width: 300px;" alt="AudioFind"/>
            </div>
        </div>
        <div class="row">
            <form ng-submit="findDoc()">
                <div class="col-lg-12">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" ng-model="query">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="findDoc()">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
             </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<tabset class="ui-tab" style="margin-top: 10px">
		<tab heading="Search Results">
			<div class="searchResultContainer" ng-repeat="doc in docresults">
				<a data-ng-href="#!/audiodocs/{{doc._id}}">{{doc.subject}}</a> <span class="time">{{doc.created}}</span>

				<div ng-bind-html="doc.content | highlight:query">

				</div>
				<div>
					<ol class="breadcrumb">
						<li><a href="#">Download as MP3</a></li>
						<li><a href="#">View Document</a></li>
						<li>
							<button ng-click="player.playPause()">Play/Pause</button>
							<span>Position {{player.position}}</span>
							<span>Duration {{player.duration}}</span>

						</li>
						<li>
							<input type="text"
							       ng-model="selectedUser"
							       typeahead="stuff as stuff.name for stuff in usersemil | filter:$viewValue | limitTo:8"
							       typeahead-on-select="shareWithUser($item,this)"
							       class="form-control"
							       placeholder="Search">
						</li>
					</ol>
				</div>
			</div>
		</tab>
		<tab heading="Shared Docsuments">
			<div class="searchResultContainer" ng-repeat="doc in docresults">
				<a data-ng-href="#!/audiodocs/{{doc._id}}">{{doc.subject}}</a> <span class="time">{{doc.created}}</span>

				<div ng-bind-html="doc.content | highlight:query">

				</div>
				<div>
					<ol class="breadcrumb">
						<li><a href="#">Download as MP3</a></li>
						<li><a href="#">View Document</a></li>
						<li>
							<button ng-click="player.playPause()">Play/Pause</button>
							<span>Position {{player.position}}</span>
							<span>Duration {{player.duration}}</span>

						</li>
					</ol>
				</div>
			</div>
		</tab>
	</tabset>



</section>