<section data-ng-controller="MainsearchController">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img src="/modules/audiosearch/img/audiofindlogo.png" style="width: 300px;" alt="AudioFind"/>
			</div>
		</div>
		<div class="row">
			<form ng-submit="findDoc()">
				<div class="col-lg-12">
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" ng-model="query">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="findDoc()">
	              <span class="glyphicon glyphicon-search"></span>
              </button>
             </span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<tabset ng-show="hasResults" class="ui-tab" style="margin-top: 10px">
		<tab  heading="Search Results">
            <h3 ng-show="!hasOwnDocs">No results but you might want to check your shared</h3>
			<div class="searchResultContainer" ng-repeat="doc in owndocs">
				<a style="font-size: 16px;" data-ng-href="#!/audiodocs/{{doc._id}}">{{doc.subject}}</a> <span class="time">{{doc.created}}</span>

				<div ng-bind-html="doc.content | highlight:query">

				</div>
				<div>
					<ol class="breadcrumb">
						<li><a href="{{doc.filepath}}">Download File</a></li>
						<span class="breaker">/</span>
						<li><a data-ng-href="#!/audiodocs/{{doc._id}}">View Document</a></li>
						<span class="breaker">/</span>
						<li>
							<input type="text"
							       ng-model="selectedUser"
                                   id="shareWith"
							       typeahead="stuff as stuff.name for stuff in usersemil | filter:$viewValue | limitTo:8"
							       typeahead-on-select="shareWithUser($item,this)"
							       class="form-control"
							       placeholder="Share with friend">
						</li>
					</ol>
				</div>
			</div>
		</tab>
		<tab ng-show="hasShared"  heading="Shared Docsuments">
			<div class="searchResultContainer" ng-repeat="doc in sharedocs">
				<a data-ng-href="#!/audiodocs/{{doc._id}}">{{doc.subject}}</a> <span class="time">{{doc.created}}</span>

				<div ng-bind-html="doc.content | highlight:query">

				</div>
				<div>
					<ol class="breadcrumb">
						<li><a href="{{doc.filepath}}">Download as MP3</a></li>
						<span class="breaker">/</span>

						<li><a data-ng-href="#!/audiodocs/{{doc._id}}">View Document</a></li>
						<span class="breaker">/</span>

						<li>
							<button ng-click="player.playPause()">Play/Pause</button>
							<span>Position {{player.position}}</span>
							<span>Duration {{player.duration}}</span>

						</li>
					</ol>
				</div>
			</div>
		</tab>
	</tabset>


</section>